:focus {
  outline: 0;
}
html, body {
  margin: 0px;
  padding: 0px;
}
#my_frame {
  position: relative;
  overflow: hidden;
  width: 600px;
  height: 600px;
}
#interact_content {
  position: absolute;
  width: 600px;
  height: 600px;
}
#controls {
  position: absolute;
  z-index: 900;
  left: 0px;
  bottom: 0px;
  width: 100px;
  background-color: rgb(255,0,0);
}
.control {
  height: 100px;
}
.leaflet-container {
  background: rgb(0,0,0);
}
