html, body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: rgb(255,255,255);
  font-family: sans-serif;
  -webkit-user-select: none;
}
body {
  width: 300px;
}
#highlight {
  position: relative;
  height: 200px;
}
#highlight__title {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 50px;
  background-color: rgba(0,0,0,0.5);
  color: rgb(255,255,255);
  text-align: center;
  line-height: 50px;
  font-size: 1.5em;
}
.data__metric__title {
  margin-top: 10px;
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  background-color: rgb(220,220,220);
}
.data__metric__value {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  height: 30px;
}
.data__metric__value__bar {
  border-right: 1px solid black;
  height: 100%;
  transition: width 2s;
}
